<template>
  <div>
    <h3>TheClicker</h3>
    <button @click="countStore.increment()">Click me too</button>
  </div>
</template>

<script setup lang="ts">
import {countStore} from '../store/countStore'

</script>
