<template>
  <div>
    <h3>TheCounter</h3>
    <slot name="default" :count="countStore.count">
      <p>Count: {{ countStore.count }}</p>
    </slot>
    <button @click="countStore.increment()">Click me</button>
  </div>
</template>

<script setup lang="ts">
import { countStore } from '../store/countStore';
</script>
